<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <meta charset="UTF-8">
    <title>University-CMS</title>
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
        <a th:href="@{/}" class="navbar-brand text-bg-dark"><h3>Menu</h3></a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:href="@{/groups}" class="nav-link">Groups</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/students}" class="nav-link active" aria-current="page" >Students</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/teachers}" class="nav-link">Teachers</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/subjects}" class="nav-link">Subjects</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/profile}" class="nav-link">My Profile</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/logout}" class="btn btn-primary">Log out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1 class="text-center p-3">Students</h1>
    <div class="alert alert-danger" th:if="${students.isEmpty()}">
        <strong>No Students Available!!!</strong> Return to <a href="javascript:history.back()" class="alert-link">previous
        page</a>.
    </div>
        <table class="table table-striped">
            <thead class="table-dark">
            <tr>
                <th>№</th>
                <th>Firs Name</th>
                <th>Last Name</th>
                <th>Student Card</th>
                <th>Street</th>
                <th>City</th>
                <th>Zip</th>
                <th>Country</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student, iter : ${students}">
                <td><span th:text="${iter.index + 1}">ITERATION</span></td>
                <td><span th:text="${student.firstName}">STUDENT_FIRSTNAME</span></td>
                <td><span th:text="${student.lastName}">STUDENT_LASTNAME</span></td>
                <td><span th:text="${student.studentCard}">STUDENT_CARD</span></td>
                <td><span th:text="${student.street}">STUDENT_STREET</span></td>
                <td><span th:text="${student.city}">STUDENT_CITY</span></td>
                <td><span th:text="${student.zip}">STUDENT_ZIP</span></td>
                <td><span th:text="${student.country}">STUDENT_COUNTRY</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
