<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <meta charset="UTF-8">
    <title>University-CMS</title>
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
        <a th:href="@{/}" class="navbar-brand text-bg-dark"><h3>Menu</h3></a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:href="@{/groups}" class="nav-link">Groups</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/students}" class="nav-link">Students</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/teachers}" class="nav-link">Teachers</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/subjects}" class="nav-link">Subjects</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/profile}" class="nav-link active" aria-current="page">My Profile</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/logout}" class="btn btn-primary">Log out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div th:object="${student}" class="row">
        <h2 class="text-center p-4">Hello <span th:text="*{firstName}"></span> <span th:text="*{lastName}"></span></h2>
        <div class="col-sm-4">
            <h3 class="text-center">User Information</h3>
            <p>First name: <span th:text="*{firstName}"></span></p>
            <p>Last name: <span th:text="*{lastName}"></span></p>
            <p>Student Card: <span th:text="*{studentCard}"></span></p>
            <p>Group: <span th:text="*{group.groupName}"></span></p>
            <h4 class="text-center">Place of residence</h4>
            <p>Street name: <span th:text="*{street}"></span></p>
            <p>City name: <span th:text="*{city}"></span></p>
            <p>Zip: <span th:text="*{zip}"></span></p>
            <p>Country: <span th:text="*{country}"></span></p>
        </div>
        <form class="col-sm-4" method="get" th:action="@{/timetable/groupMonth}">
            <label class="col-form-label" for="month">Gat Timetable By Month:</label>
            <div class="input-group mb-3">
                <input type="month" id="month" class="form-control" required="required" th:name="month">
                <button class="btn btn-outline-dark" type="submit" th:name="id" th:value="*{group.groupId}">Go</button>
            </div>
        </form>
        <form class="col-sm-4" method="get" th:action="@{/timetable/groupDate}">
            <label class="col-form-label" for="date">Gat Timetable by Day:</label>
            <div class="input-group mb-3">
                <input type="date" id="date" class="form-control" min="2022-10-01" max="2022-10-31" required="required"
                       th:name="date">
                <button class="btn btn-outline-dark" type="submit" th:name="id" th:value="*{group.groupId}">Go</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
