<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <meta charset="UTF-8">
    <title>University-CMS</title>
</head>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
        <a th:href="@{/}" class="navbar-brand text-bg-dark"><h3>Menu</h3></a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:href="@{/groups}" class="nav-link">Groups</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/students}" class="nav-link">Students</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/teachers}" class="nav-link">Teachers</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/subjects}" class="nav-link">Subjects</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/profile}" class="nav-link">My Profile</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/logout}" class="btn btn-primary">Log out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1 class="text-center p-3">Teacher's Subjects</h1>
    <div class="alert alert-danger" th:if="${subjects.isEmpty()}">
        <strong>No Subjects Available!!!</strong> Return to <a href="javascript:history.back()" class="alert-link">previous
        page</a>.
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <table th:unless="${subjects.isEmpty()}" class="table table-striped">
                <thead class="table-dark">
                <tr>
                    <th>№</th>
                    <th>Subject Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="subject, iter : ${subjects}">
                    <td><span th:text="${iter.index + 1}">ITERATION</span></td>
                    <td><span th:text="${subject.subjectName}">SUBJECT_SUBJECT_NAME</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
